
.icon-mail:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
